
header {
    text-align: center;
    margin-right: 10%;
}


li {
    padding: 5px;
}

header nav ul {
    list-style-type: none;
    background-color: forestgreen;
    }

header nav ul li {
    display: inline-block;
   justify-content: space-between;
   margin: 20px
}







aside {
    margin-right: 10px;
    clear: both;
    float: right;
    width: 10%;
    height: 100%;
}